{$CADDY_DOMAIN} {
	handle /api/ws {
		reverse_proxy {$RUST_NAME}:{$RUST_PORT} {
			header_up Connection upgrade
		}
	}

	handle /api/* {
		reverse_proxy {$RUST_NAME}:{$RUST_PORT}
	}

	handle {
		reverse_proxy {$SVELTE_NAME}:{$SVELTE_PORT}
	}

	tls internal

	log {
		output stdout
		level DEBUG
	}
}
